.swell-draw {
  --editor-container-padding: 1rem;

  --default-button-size: 2rem;
  --default-icon-size: 1rem;
  --lg-button-size: 2.25rem;
  --lg-icon-size: 1rem;

  --island-bg-color: #ffffff;

  --border-radius-md: 0.375rem;
  --border-radius-lg: 0.5rem;

  --shadow-island:
    0px 0px 0.9310142993927002px 0px rgba(0, 0, 0, 0.17),
    0px 0px 3.1270833015441895px 0px rgba(0, 0, 0, 0.08),
    0px 7px 14px 0px rgba(0, 0, 0, 0.05);

  --space-factor: 0.25rem;

  --color-surface-primary-container: #e0dfff;

  --color-surface-high: #f1f0ff;
  --button-hover-bg: var(--color-surface-high);
}
